@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  
  .print-section,
  .print-section * {
    visibility: visible;
  }
  
  table {
    width: 100% !important;
    page-break-inside: auto;
  }
  
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  
  thead {
    display: table-header-group;
  }
  
  tfoot {
    display: table-footer-group;
  }
  
  button {
    display: none !important;
  }
  
  input {
    border: none !important;
    padding: 0 !important;
  }
}